doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='../static/ad.js')
    style(type='text/css').
      div.snippet {
        border: 1px dashed #888;
        line-height: 25px;
        margin: 50px 30px;
        padding: 0;
        width: 300px;
      }

      div.snippet p.measure {
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 300px;
        height: 60px;

        font-family:Arvo,serif;
        font-weight:400;
        font-size:24pt;
        color:#000000;
      }

      p#ad_300x60 {
        width: 300px; 
        height: 60px;
      }

      p#ad_300x120 {
        width: 300px; 
        height: 120px;
      }

      p#x {
        font-variant: #{css['font-variant']};
        font-size: #{css['font-size']};
      }

  body(style="margin: 0px; padding: 0px;")
    div.snippet
       p#ad_300x60.measure
    p#done.measure
      i am Max.
